body {
    color: #fff;
}

.services_page {
    width: 100%;
    position: relative;
}

.services_page .container {
    position: relative;
}

.services_page .container .text_block {
    position: absolute;
    bottom: 16px;
    left: 16px;
    background-color: #3c3333;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services_page .container .text_block h4 {
    font-size: 2rem;
    letter-spacing: 4px;
}

.services_page .container .text_block p a {
    color: #f37b11;
    font-size: 1.4rem;
    letter-spacing:1px;
}

.content {
    position:relative;
    background-color: #adb3b7;
    padding:3% ;
    margin-top: -6px;
    color: #3c3333;
}

.content .heading_content {
    margin-bottom: 15px;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab_linkO {
    padding: 15px;
    outline: none;
    border: none;
    font-size: 1.2rem;
    letter-spacing: 1px;
    width: 25%;
}

.tab_linkO:hover {
    background-color: #ccc;
    cursor: pointer;
}


.tabContentO {
    color: #fff;
    padding: 100px 20px;
    height: 100%;
}

.tab_linkP {
    padding: 15px;
    outline: none;
    border: none;
    font-size: 1.2rem;
    letter-spacing: 1px;
    width: 25%;
}

.tab_linkP:hover {
    background-color: #ccc;
}


.tabContentP {
    color: #fff;
    padding: 100px 20px;
    height: 100%;
}

#infoO {background-color: #f37b11;}
#flightO {background-color: #f3ef11;}
#scheduleO {background-color: #11f3b7;}
#priceO {background-color: #11a8f3;}

#infoP {background-color: #f37b11;}
#flightP {background-color: #f3ef11;}
#scheduleP {background-color: #11f3b7;}
#priceP {background-color: #11a8f3;}


.desc_content {
    padding: 5px 5px;
    border-radius: 0 0 10px 10px;

}

.desc_content .desc{
    background-color: #fafafa;
    padding: 10px;
    border-radius: 10px;
}

.desc_content .desc h3 {
    margin-bottom: 10px;
    border-bottom: 1px solid #3c3333;
}



















@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@media(max-width: 992px) {
}
@media(max-width: 576px) {
    html {
        font-size: 80%;
    }

    .wrapper button {
        font-size: 1rem;
    }
}

@media(max-width:460px) {
    .wrapper button {
        font-size: rem;
    }

    .wrapper button i {
        display: none;
    }
}

@media(max-width: 415px) {
    html {
        font-size: 80%;
    }

    /*services*/

    .services_page .container .text_block {
        bottom:10px;
    }

    .services_page .container .text_block h4 {
        display: none;
    }

    .services_page .container .text_block p {
        font-size: 1.2rem;
    }
    /* remove icon on tab */
    .wrapper button i{
        display: none;
    }



}